.ClockFace{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    color: white;
    background-color: rgb(16, 54, 246);
}
.ClockBCG{
    width: auto;
    height: 30px;
    color: rgb(42, 40, 40);

    background-color: rgb(225, 255, 0);
    text-align: center;
}